@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: lightgrey;
}

.barranav {
  list-style-type: none;
  margin-left: 0px;
  margin-top: 0;
  padding: 0;
  left: 0px;
  overflow: hidden;
  background-color: #1b1b1b;
  top: 0;
  width: 100%;
  position: absolute;
}



.list1:last-child {
  border-right: none;
}

.list1 a {
  display: block;
  color: white;
  text-orientation: center;
  padding: 14px 16px;
  text-decoration: none;
}

.flex-container{
  display: flex;
}

.list2{
  margin: auto;
}

.list2 a{
  display: block;
  color: white;
  text-orientation: center;
  text-decoration: none;
}



.list1 a:hover:not(.active) {
 background-color: #555;
}

.active {
  background-color: #7e1616;
}



.container{
  width: 600px;
  text-align: center;
  border-radius: 3px;
  margin: auto;
  overflow: hidden;
}

.container h2{
  text-align: center;
  font-size: 16px;
  letter-spacing: 3px;
}

.container ul li{
  list-style: none;
}

.container ul li a{
  display: block;
  padding: 10px 0;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  transition: .1s;
  border: 2px solid #eee;
  color: #333;
  border-color:#7e1616;
  

}

.container:hover ul li a{
 color: #7e1616;
}

.container ul li a:hover{
  background-color: #555;
  color: white;
  transform: scale(1.3);
}




.seleccionar-m{
  border: 2px solid #7e1616;
}




/* container para los examenes, tareas, referencias */

.container-1{
  width: 400px;
  text-align: center;
  border-radius: 3px;
  margin: auto;
}

.container-1 h2{
  text-align: center;
  font-size: 16px;
  letter-spacing: 3px;
}

.container-1 ul li{
  list-style: none;
}

.container-1 ul li a{
  display: block;
  padding: 10px 0;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  transition: .1s;
  border: 2px solid #eee;
  color: #333;
  border-color:#7e1616;
  

}

.container-1:hover ul li a{
 color: #7e1616;
}

.container-1 ul li a:hover{
  background-color: #555;
  color: white;
  transform: scale(1.04);
}


.btn{
  position: fixed;
  top: 60px;
  left: 45px;
  width: 45px;
  text-align: center;
  background: #1b1b1b;
  border-radius: 3px;
  cursor: pointer;
  transition: left 0.4s ease;
  z-index: 3;
}
.btn.click{
  left: 260px;
}
.btn span{
  color: white;
  font-size: 28px;
  line-height: 45px;
}
.btn.click span:before{
  content: '\f00d';
}
.sidebar{
  position: absolute;
  background-position: top;
  width: 250px;
  height: 100%;
  left: -250px;
  background: #1b1b1b;
  transition: left 0.4s ease;
  z-index: 2;
    overflow: hidden;
}
.sidebar.show{
  left: 0px;
}
.sidebar .text{
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
  background: #1e1e1e;
  letter-spacing: 1px;
}
nav ul{
  background: #1b1b1b;
  z-index: 1;
  list-style: none;
}
nav ul li{
  line-height: 60px;
  border-top: 1px solid rgba(255,255,255,0.1);
}
nav ul li:last-child{
  border-bottom: 1px solid rgba(255,255,255,0.05);
}
nav ul li a{
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}
nav ul li.active a{
  color: #7e1616;
  background: #1e1e1e;
  border-left-color: #7e1616;
}
nav ul li a:hover{
  background: #1e1e1e;
}
nav ul ul{
  position: static;
  display: none;
}
nav ul .ISC.show{
  display: block;
}
nav ul .IBQ.show1{
  display: block;
}
nav ul .IND.show2{
  display: block;
}
nav ul .IE.show3{
  display: block;
}
nav ul ul li{
  line-height: 42px;
  border-top: none;
}
nav ul ul li a{
  font-size: 17px;
  color: #e6e6e6;
  padding-left: 80px;
}
nav ul li.active ul li a{
  color: #e6e6e6;
  background: #1b1b1b;
  border-left-color: transparent;
}
nav ul ul li a:hover{
  color: #7e1616!important;
  background: #1e1e1e!important;
}
nav ul li a span{
  position: absolute;
  top: 30%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
}
nav ul li a span.rotate{
  transform: translateY(-50%) rotate(-180deg);
}
.content{
  border: 2px solid red;  
  position: absolute;
  color: #202020;
  text-align: center;
  margin: auto;
}
.content .header{
  font-size: 35px;
  font-weight: 600;
  
}
.content p{
  font-size: 20px;
  font-weight: 500;
}

.content-materia{
  display:flex; 
  position: absolute;
  border: solid green;
  color: #202020;
  text-align: center;
  justify-content: space-between;
  width: 100%; 
  height: auto; 
  margin: auto;
  flex-direction: row; 
  flex-wrap: nowrap;
  
}

.tareas{
  margin-left: 10px;
}
.ref{
  margin-right: 10px;
}



.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-floating>.form-control, .form-floating>.form-select {
  height: calc(3.5rem + 2px);
  line-height: 1.25;
}

.form-floating>.form-control {
  padding: 1rem 0.75rem;
}


.form-floating {
  position: relative;
}
.mb-3 {
  margin-bottom: 1rem!important;
}


.button1 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button1:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button1 {
  background-color: #7e1616; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}